<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style1.css">
        <link rel="stylesheet" href="/style2.css">
    </head>
    <body>
        <%- include("logo-and-nav.ejs") %>

        <div class="headline">
            <h1 class="open-sans-700">Edit Category</h1>
        </div>
        <%- include("partials/errors.ejs")  %>
        <div class="edit-category-form-parent inter">
            <form action="/categories/<%= category.id %>/update" method="POST" class="edit-category-form">
                <label>
                    Edit Category:
                </label>
                <input type="text" required name="edit_category" value="<%= category.name %>">
                <button type="submit"> Save </button>
            </form>
        </div>
    </body>
</html>